{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="jumbotron color-grey-light mt-70">
    <div class="d-flex align-items-center h-100">
      <div class="container text-center py-5">
        <h3 class="mb-0">{% trans "Change Password" %}</h3>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
      </div>
    </div>
</div>
    <h1></h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
