{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<style>
    .big-marging-top{
      margin-top: 80px;
  
    }
    .big-marging-bottom{
      margin-bottom: 80px;
  
    }
  </style>
  
  <div class=" pt-5 mt-70 big-marging-top">
    <div class="d-flex align-items-center h-100">
      <div class="container text-center py-5">
        <h3 class="mb-0">{% trans "Password Reset" %}</h3>
      </div>
    </div>
  </div>

  
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}
