{% load static %}
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <div class="default-color  text-center py-4">
    <a id="footer-link-angular-newsletter" href="#" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Join our newsletter      <i class="fas fa-envelope white-text ml-2"> </i>
    </a>
    <a id="footer-link-angular-affiliate" href="#" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Become an Affiliate      <i class="fas fa-money-bill-alt white-text ml-2"> </i>
    </a>
    <a id="footer-link-angular-contact" href="#" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contact us      <i class="fas fa-envelope white-text ml-2"> </i>
    </a>
    <a rel="nofollow" target="_blank" id="footer-link-angular-github" href="#">
    <i class="fab fa-github white-text mr-4"> </i>
    </a>
    <a rel="nofollow" target="_blank" href="#">
    <i class="fab fa-youtube white-text mr-4"> </i>
    </a>
    <a rel="nofollow" target="_blank" id="footer-link-angular-facebook" href="#">
    <i class="fab fa-facebook-f white-text mr-4"> </i>
    </a>
    <a rel="nofollow" target="_blank" id="footer-link-angular-twitter" href="#">
    <i class="fab fa-twitter white-text mr-4"> </i>
    </a>
  </div>
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
        <h6 class="spacing font-weight-bold">
        <strong>Useful links</strong>
        </h6>
        <hr class="default-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a id="footer-link-angular-faq" href="#">Frequently Asked Questions</a>
        </p>
        <p>
        <a id="footer-link-angular-browsers" href="#">Browsers and devices</a>
        </p>
        <p>
        <a id="footer-link-angular-license" href="#">License</a>
        </p>
        <p>
        <a id="footer-link-angular-changelog" href="#">ChangeLog</a>
        </p>
        <p>
        <a id="footer-link-angular-privacy"  href="#">Privacy Policy</a>
        </p>
        <p>
        <a id="footer-link-angular-refund" href="#">Return/Refund policy</a>
        </p>
        <p>
        <a id="footer-link-tutWebpush" href="#">For Resellers</a>
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
        <strong>Resources</strong>
        </h6>
        <hr class="default-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a id="footer-link-jquery" href="#">MDB jQuery</a>
        </p>
        <p>
        <a id="footer-link-angular" href="#">MDB Angular</a>
        </p>
        <p>
        <a id="footer-link-react" href="#">MDB React</a>
        </p>
        <p>
        <a id="footer-link-vue" href="#">MDB Vue</a>
        </p>
        <p>
        <a id="footer-link-brandflow" href="#">Support forum</a>
        </p>
        <p>
        <a id="footer-link-brandflow" href="#">MDB Editor & Snippets </a>
        </p>
        <p>
        <a id="footer-link-brandflow" href="#">Articles</a>
        </p>
        <p>
        <a id="footer-link-brandflow" href="#">News</a>
        </p>
        <p>
        <a id="footer-link-freebies" href="#">Free templates</a>
        </p>
        <p>
        <a id="footer-link-templates" href="#">Premium templates</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
        <strong>Free tutorials</strong>
        </h6>
        <hr class="default-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a id="footer-link-tutBootstrap" href="#">Basics (HTML/CSS/JS)</a>
        </p>
        <p>
        <a id="footer-link-tutBootstrap" href="#">Bootstrap & web design</a>
        </p>
        <p>
        <a id="footer-link-tutAngular" href="#">Angular</a>
        </p>
        <p>
        <a id="footer-link-tutAngular" href="#">React</a>
        </p>
        <p>
        <a id="footer-link-tutAngular" href="#">Vue</a>
        </p>
        <p>
        <a id="footer-link-tutWordpress" href="#">WordPress</a>
        </p>
        <p>
        <a id="footer-link-tutWebpush" href="#">Miscellaneous</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="spacing font-weight-bold">
        <strong>Company</strong>
        </h6>
        <hr class="default-color  mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <!-- <p><i class="fa fa-building mr-3"></i> Our story</p> -->
        <p>
        <a id="footer-link-angular-team" href="#">
        <i class="fa fa-users mr-3"></i> Our team</a>
        </p>
        <p>
        <a id="footer-link-angular-company" href="#">
        <i class="fab fa-mdb mr-3"></i> Company data</a>
        </p>
        <p>
        <a id="footer-link-angular-media" href="#">
        <i class="fa fa-bullhorn mr-3"></i> For media</a>
        </p>
      </div>
    </div>
    <img src="{% static '/img/logo/logo-nav01-01.svg' %}" width="300px">
  </div>
  <hr class="my-4">
  <div class="pb-4">
    <a href="#" target="_blank">
    <i class="fab fa-facebook-f mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-twitter mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-youtube mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-google-plus-g mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-dribbble mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-pinterest mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-github mr-3"></i>
    </a>
    <a href="#" target="_blank">
    <i class="fab fa-codepen mr-3"></i>
    </a>
    </div>
    <div class="footer-copyright py-3">© 2020 Copyright:
    <a href="#" target="_blank"> SOAR CL </a>
  </div>
</footer>